{% extends 'base.html' %}


{% block head %}

{% endblock %}


{% block body %}
<div class="content">
    <h1>Support Ticket App - Admin</h1>

    <table>
        <tr>
            <th>Option</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>
                <a href="/listopenadmin">Open Tickets</a>
                <td>List open tickets</td>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/listclosedadmin">Closed Tickets</a>
                <td>List closed tickets</td>
            </td>
        </tr>
        <tr>
            <td> ----- </td>
        </tr>
        <tr>
            <td><a href="/">Log Out</a></td>
        </tr>
    </table>

    
</div>
{% endblock %}